gnmi.proto: Decimal64 digits member should be int64

The Decimal64 type in gnmi.proto uses an unsigned value for its `digits` member. This should be signed, ie. `int64`, according to [RFC6020 Section 9.3](https://tools.ietf.org/html/rfc6020#section-9.3).

Thanks Aaron - yes, this looks like an error. We'll update this.

This was updated a few months ago:
https://github.com/openconfig/gnmi/commit/204223c0e6b0282d788cffa84947410c8f6f6020#diff-2c94239e729daff1e1db0c192c4d4eda